{% extends 'base.html.twig' %}

{% block title %}Genre
{% endblock %}

{% block stylesheets %}
<style> 
     
 body { 
    background-color:#d4dae0; 
      }   
</style> 
 {% endblock %}

{% block body %}
<div class="row">
<div class="col-9">
	<h1 style=" text-align: center;">Genre</h1>
</div>

<div class="col" style="margin-top: 40px;">
	{% if is_granted('ROLE_ADMIN') %}
		<a class="btn btn-success" href="{{ path('genre_edit', {'id': genre.id}) }}"><i class="bi bi-pen" style="color:white;font-size:20px;"></i></a>

		{{ include('genre/_delete_form.html.twig') }}
	{% endif %}
</div>
</div>
<div class="container-fluid"> 
    <div class="row justify-content-center"> 
        <div class="col-md-10"> 
            <div class="card"> 
				<table class="table">
					<tbody>
						<tr style=" text-align: center; background-color:rgb(66, 163, 207)">
							<th>Id</th>
							<td>{{ genre.id }}</td>
						</tr>
						<tr>
							<th>Nom</th>
							<td>{{ genre.nom }}</td>
						</tr>
						<tr>
							<th>Livres</th>
							<td>
								{% for livre in genre.livres %}
									<span>{{ livre }}</span><br>
								{% endfor %}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>



{% endblock %}
