{% extends 'base.html.twig' %}

{% block title %}Auteurs
{% endblock %}
{% block stylesheets %}
<style> 
     
 body { 
    background-color:#d4dae0; 
      }   
</style> 
 {% endblock %}
{% block body %}
<div class="row">
<div class="col-10">
	<h1 style="text-align: center; font-size:3em;font-weight:600;">Auteurs</h1>
</div>
<div class="col" style="margin-top: 40px;">
	{% if is_granted('ROLE_ADMIN') %}
		<a class="btn btn-success" href="{{ path('auteur_new') }}">Ajouter</a>
	{% endif %}
</div>
</div>

<div class="container-fluid"> 
    <div class="row justify-content-center"> 
        <div class="col-md-12"> 

{% for message in app.flashes('notice') %}
            <div class="alert alert-primary alert-dismissible fade show" role="alert" style="margin: 0px 70px 10px 40px; ">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <i class="bi bi-info-circle"></i> {{ message }}
            </div>
{% endfor %}

            <div class="card"> 
					<table class="table">
						<thead>
							<tr style=" text-align: center; background-color:rgb(66, 163, 207)">
								<th>Nom et Prenom</th>
								<th>Sexe</th>
								<th>Date de naissance</th>
								<th>Nationalite</th>
								<th></th>
							</tr>
						</thead>
						<tbody style="text-align:center">
							{% for auteur in auteurs %}
								<tr >
									<td >{{ auteur.nomPrenom }}</td>
									<td>{{ auteur.sexe }}</td>
									<td>{{ auteur.dateDeNaissance ? auteur.dateDeNaissance|date('Y-m-d') : '' }}</td>
									<td>{{ auteur.nationalite }}</td>
									<td>
										<a class="btn btn-primary" href="{{ path('auteur_show', {'id': auteur.id}) }}"><i class="bi bi-eye" style="color:white;font-size:20px;"></i></a>
										{% if is_granted('ROLE_ADMIN') %}
											<a class="btn btn-success" href="{{ path('auteur_edit', {'id': auteur.id}) }}"><i class="bi bi-pen" style="color:white;font-size:20px;"></i></a>
											{{ include('auteur/_delete_form.html.twig') }}
										{% endif %}
									</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="6">Aucun résultat</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
			</div>
        </div>
	</div>
<div>

{% endblock %}
